<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Start your development with JohnDoe landing page."
    />
    <meta name="author" content="Devcrud" />
    <title>RodolfoSierra Landing page</title>
    <!-- font icons -->
    <link
      rel="stylesheet"
      href="assets/vendors/themify-icons/css/themify-icons.css"
    />
    <!-- Bootstrap + JohnDoe main styles -->
    <link rel="stylesheet" href="/css/johndoe.css" />
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a
      href="components.html"
      class="btn btn-primary btn-component"
      data-spy="affix"
      data-offset-top="600"
      ><i class="ti-shift-left-alt"></i> Components</a
    >
    <header class="header">
      <div class="container">
        <div class="header-content">
          <h1 class="header-title">Rodolfo Sierra</h1>
          <h6 class="header-mono">Músico | Compositor</h6>
        </div>
      </div>
    </header>
    <nav
      class="navbar sticky-top navbar-expand-lg navbar-light bg-white"
      data-spy="affix"
      data-offset-top="510"
    >
      <div class="container">
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse mt-sm-20 navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/#bibliography" class="nav-link">Bibliografia</a>
            </li>
          </ul>
          <ul class="navbar-nav brand">
            <img src="/img/avatar.jpg" alt="" class="brand-img" />
            <li class="brand-txt">
              <h5 class="brand-title">John Doe</h5>
              <div class="brand-subtitle">Web Designer | Developer</div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/#videos" class="nav-link">Video Musical</a>
            </li>
            <li class="nav-item">
              <a href="/blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Iniciar Seción</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/img/god.jpg" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"><a href="/blog/post/1">Jesucristo, el Salvador y Redentor del Mundo</a></h5>
                        <p class="card-text">Fecha de creación: 29/05/2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/img/god2.jpg" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"><a href="/blog/post/2">Jesucristo, el Príncipe de Paz y Luz del Mundo</a></h5>
                        <p class="card-text">Fecha de creación: 29/05/2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/img/god3.jpg" class="card-img-top" alt="Image 3">
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold"><a href="/blog/post/3">Jesucristo, el Buen Pastor y Fuente de Vida</a></h5>
                        <p class="card-text">Fecha de creación: 29/05/2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- JohnDoe js -->
    <script src="/js/johndoe.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
