<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Start your development with JohnDoe landing page."
    />
    <meta name="author" content="Devcrud" />
    <title>RodolfoSierra Landing page</title>
    <!-- font icons -->
    <link
      rel="stylesheet"
      href="assets/vendors/themify-icons/css/themify-icons.css"
    />
    <!-- Bootstrap + JohnDoe main styles -->
    <link rel="stylesheet" href="/css/johndoe.css" />
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a
      href="components.html"
      class="btn btn-primary btn-component"
      data-spy="affix"
      data-offset-top="600"
      ><i class="ti-shift-left-alt"></i> Components</a
    >
    <header class="header">
      <div class="container">
        <div class="header-content">
          <h1 class="header-title">Rodolfo Sierra</h1>
          <h6 class="header-mono">Músico | Compositor</h6>
        </div>
      </div>
    </header>
    <nav
      class="navbar sticky-top navbar-expand-lg navbar-light bg-white"
      data-spy="affix"
      data-offset-top="510"
    >
      <div class="container">
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse mt-sm-20 navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#bibliography" class="nav-link">Bibliografia</a>
            </li>
          </ul>
          <ul class="navbar-nav brand">
            <img src="/img/avatar.jpg" alt="" class="brand-img" />
            <li class="brand-txt">
              <h5 class="brand-title">John Doe</h5>
              <div class="brand-subtitle">Web Designer | Developer</div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#videos" class="nav-link">Video Musical</a>
            </li>
            <li class="nav-item">
              <a href="#blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Iniciar Seción</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br> <br> <br>
    <div id="bibliography" class="container-fluid">
      <!-- Aquí empieza la nueva sección de bibliografía -->
      <div class="row">
        <div class="col-md-12">
          <h2>BIBLIOGRAFIA</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            numquam repudiandae culpa adipisci, quas quaerat quo mollitia. Minus
            non maxime dolorum officiis velit amet, adipisci nihil alias
            repellat dignissimos perspiciatis earum libero voluptates dolore ut
            odit eum quidem quis itaque sequi soluta. Architecto dolorum eos sit
            odio! Aperiam totam cumque dolor enim numquam quam illo aliquam
            autem deserunt ipsum, dolores cupiditate deleniti quod ab unde illum
            dolorum tempore quaerat at ex, rem delectus! Inventore similique
            necessitatibus nostrum, nemo, dicta error molestiae quas harum dolor
            consequuntur mollitia doloribus sequi amet. Sapiente provident sit a
            quos, saepe quisquam suscipit. Voluptatum natus suscipit maxime
            exercitationem officiis, quasi, molestias adipisci velit maiores
            aspernatur itaque sed doloremque voluptates excepturi dolor
            praesentium? Sed hic dolorum quo expedita ea quibusdam impedit iure
            culpa repudiandae vero illum ipsa quas blanditiis, fugiat, et amet
            nihil nemo magni quae? Doloribus amet magnam architecto ea adipisci
            commodi porro ducimus quo incidunt aliquid facilis fugit ullam
            sapiente natus doloremque, corrupti officiis nulla aspernatur
            aliquam quos! Quasi, vero aliquam similique vel ipsam placeat fuga
            obcaecati quam non, deleniti, vitae minus! Praesentium, odio hic!
            Quae architecto error, nesciunt quisquam modi exercitationem natus.
            Exercitationem omnis ab ea magnam voluptatem dolorum illo, unde,
            sint labore ullam minus. Quam, quod? Nostrum asperiores numquam
            commodi repellendus. Suscipit distinctio ratione laboriosam, laborum
            itaque neque eos iste doloribus officia dicta debitis ad quisquam
            recusandae dolores asperiores eum inventore consectetur sequi
            repellendus? Deleniti magni modi temporibus consectetur fugiat
            pariatur dolores quo. Accusantium placeat, et voluptas fugit,
            tempore deserunt nulla nostrum quo tenetur beatae velit suscipit vel
            odit porro nisi laudantium corporis dolorum ullam consectetur nihil
            laborum! Error, explicabo, laborum aspernatur odit amet, quibusdam
            eveniet suscipit necessitatibus doloribus maxime quia officia sit
            pariatur! Velit expedita architecto voluptates incidunt ut qui sed
            nostrum? Perferendis hic culpa suscipit accusantium minus ex aperiam
            quisquam quo nostrum reiciendis, mollitia aspernatur non repellendus
            rerum quasi natus ab sapiente commodi corporis, tempore harum
            eveniet doloremque! Saepe sed reprehenderit aperiam inventore
            aliquam quidem culpa aut fugit minus optio necessitatibus sunt quam
            nihil officia dolore ducimus, distinctio rerum ipsa vel id ut.
            Ratione, error ab commodi iusto sequi id veritatis inventore
            praesentium fugiat animi. Quod ducimus deserunt iure voluptatibus!
            Unde sunt facilis aut recusandae cum, possimus deserunt aliquid
            inventore ea ratione asperiores! Optio beatae dignissimos unde
            dolore, fuga voluptatem saepe sequi vel exercitationem possimus
            maxime quo iusto iste earum alias animi tenetur? Ipsa obcaecati
            aliquid repudiandae quod vel quisquam earum architecto a
            consequuntur, adipisci autem tenetur, suscipit veniam, cum maiores
            rem sint voluptate error illo libero atque? Reprehenderit reiciendis
            minus saepe sint officia? Est unde architecto qui consequatur
            veritatis. Necessitatibus maiores, commodi temporibus odio minus,
            eos ex totam minima autem molestias molestiae quaerat. Minima fugiat
            vero eum natus consectetur voluptatum enim autem tempore, illum
            praesentium fugit nihil explicabo neque amet ducimus quia, quis
            pariatur aperiam dolorem necessitatibus corrupti at. Corrupti animi
            quisquam assumenda eaque quas dignissimos perferendis incidunt
            quibusdam dicta delectus nostrum explicabo, non dolores. Quod
            numquam voluptas veniam sapiente excepturi aliquid soluta,
            perferendis error sint nisi? Et, minus repellat.
          </p>
        </div>
      </div>
      <img src="/img/bibliografía.png" alt="" id="imagen_bibliografia" style="width: 750px;">
      <!-- Fin de la nueva sección de bibliografía -->
    </div>
    <br> <br> <br>
    <div class="container-fluid">
      <h2 id="videos">VIDEOS</h2>
      <div class="row about-section">
        <div class="col-lg-4 about-card">
          <h3 class="font-weight-light">Vida Nueva Final</h3>
          <span class="line mb-5"></span>
          <iframe
            src="https://drive.google.com/file/d/1gur5scbA7bJrtWU0CId0pNcXVQDwfQah/preview"
            width="640"
            height="480"
            allow="autoplay"
          ></iframe>
          <p class="mt-20">Descripción del video 1.</p>
        </div>
        <div class="col-lg-4 about-card">
          <h3 class="font-weight-light">Busca a Cristo</h3>
          <span class="line mb-5"></span>
          <iframe
            src="https://drive.google.com/file/d/1QUsxrNQGzQu5wn3TanAtDbod_64xGBam/preview"
            width="640"
            height="480"
            allow="autoplay"
          ></iframe>
          <p class="mt-20">Descripción del video 2.</p>
        </div>
        <div class="col-lg-4 about-card">
          <h3 class="font-weight-light">¿Dónde estás?</h3>
          <span class="line mb-5"></span>
          <iframe
            src="https://drive.google.com/file/d/1ICYxdvDub5qpDOxHFoka2Om3BLceOquY/preview"
            width="640"
            height="480"
            allow="autoplay"
          ></iframe>
          <p class="mt-20">Descripción del video 3.</p>
        </div>
      </div>
    </div>

    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- JohnDoe js -->
    <script src="/js/johndoe.js"></script>
  </body>
</html>
