<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Menú Subida de Archivos</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <nav>
      <ul class="nav-left">
        <li><a href="/menu-subida-archivo">Inicio</a></li>
      </ul>
      <ul class="nav-right">
        <li><span><b><%= user %></b></span></li>
        <li><a href="/logout" class="logout-btn">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <h1>Bienvenido a Mi Página Web</h1>
    <p>Este es un ejemplo de una página web con una barra de navegación.</p>
  </div>
</body>
</html>
