<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Detail page for RodolfoSierra." />
    <meta name="author" content="Devcrud" />
    <title>RodolfoSierra Detail Page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css" />
    <!-- Bootstrap + JohnDoe main styles -->
    <link rel="stylesheet" href="/css/johndoe.css" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600">
        <i class="ti-shift-left-alt"></i> Components
    </a>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Rodolfo Sierra</h1>
                <h6 class="header-mono">Músico | Compositor</h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#bibliography" class="nav-link">Bibliografia</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="/img/avatar.jpg" alt="" class="brand-img" />
                    <li class="brand-txt">
                        <h5 class="brand-title">John Doe</h5>
                        <div class="brand-subtitle">Web Designer | Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/#videos" class="nav-link">Video Musical</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Iniciar Seción</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <h2 class="font-weight-bold">Jesucristo, el Salvador y Redentor del Mundo</h2>
        <img src="/img/god.jpg" class="card-img-top img-fluid " alt="Image 1" style="width: 60%;">
        <p>Fecha de creación: 29/05/2024</p>
        <p class="lead">
            Jesucristo, conocido como el Salvador y Redentor del Mundo, es la figura central del cristianismo. Nacido en Belén de Judea, su vida y enseñanzas han sido una fuente de inspiración y guía espiritual para miles de millones de personas a lo largo de los siglos. Hijo de Dios, encarnado como hombre a través del milagro de la Inmaculada Concepción, Jesús vivió una vida de humildad, compasión y sacrificio.
            <br>
            <br>
            Jesús predicó el amor incondicional, la paz y la misericordia, desafiando las normas sociales y religiosas de su tiempo. Sus milagros, como la curación de los enfermos, la resurrección de los muertos y la multiplicación de los panes y los peces, demostraron su divinidad y su misión de traer esperanza y salvación a la humanidad. Su mensaje central de amar a Dios y al prójimo como a uno mismo se convirtió en el fundamento del cristianismo.
            <br>
            <br>
            La crucifixión de Jesucristo es el acto supremo de sacrificio y amor. Al morir en la cruz, Jesús expió los pecados de la humanidad, ofreciendo la redención a todos los que creen en Él. Su resurrección al tercer día es el triunfo sobre la muerte y el pecado, confirmando su divinidad y la promesa de vida eterna para sus seguidores.
            <br>
            <br>
            Jesucristo es reverenciado no solo como un maestro y profeta, sino como el Hijo de Dios, cuyo sacrificio abrió el camino a la salvación. Su vida y enseñanzas continúan inspirando a personas de todas las edades y culturas, siendo un faro de esperanza, fe y amor en el mundo moderno.
        </p>
    </div>

    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- JohnDoe js -->
    <script src="/js/johndoe.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
