<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Detail page for RodolfoSierra." />
    <meta name="author" content="Devcrud" />
    <title>RodolfoSierra Detail Page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css" />
    <!-- Bootstrap + JohnDoe main styles -->
    <link rel="stylesheet" href="/css/johndoe.css" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600">
        <i class="ti-shift-left-alt"></i> Components
    </a>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Rodolfo Sierra</h1>
                <h6 class="header-mono">Músico | Compositor</h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#bibliography" class="nav-link">Bibliografia</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="/img/avatar.jpg" alt="" class="brand-img" />
                    <li class="brand-txt">
                        <h5 class="brand-title">John Doe</h5>
                        <div class="brand-subtitle">Web Designer | Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/#videos" class="nav-link">Video Musical</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Iniciar Seción</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <h2 class="font-weight-bold">Jesucristo, el Príncipe de Paz y Luz del Mundo</h2>
        <img src="/img/god2.jpg" class="card-img-top img-fluid " alt="Image 1" style="width: 60%;">
        <p>Fecha de creación: 29/05/2024</p>
        <p class="lead">
            Jesucristo, conocido como el Príncipe de Paz y Luz del Mundo, es el centro de la fe cristiana y una figura trascendental en la historia de la humanidad. Nacido de la Virgen María en Belén, su llegada fue anunciada por ángeles y marcada por la estrella de Belén, simbolizando la esperanza y la redención para toda la humanidad.
            <br>
            <br>
            A lo largo de su vida, Jesús enseñó a través de parábolas, sermones y milagros, revelando el amor infinito de Dios y el camino hacia una vida espiritual plena. Su Sermón del Monte, con enseñanzas como las Bienaventuranzas, resuena profundamente en la ética y moralidad cristiana, promoviendo la humildad, la misericordia y la pureza de corazón.
            <br>
            <br>
            Conocido por su compasión y su capacidad de sanar, Jesús realizó numerosos milagros: devolvió la vista a los ciegos, hizo caminar a los paralíticos y resucitó a los muertos, demostrando el poder divino que operaba a través de él. Su vida fue un modelo de servicio y sacrificio, culminando en su crucifixión, un acto de amor supremo por el que ofreció su vida para redimir a la humanidad del pecado.
            <br>
            <br>
            La resurrección de Jesucristo al tercer día después de su muerte es el fundamento de la fe cristiana, simbolizando la victoria sobre la muerte y la promesa de vida eterna. Este evento, celebrado como la Pascua, es el corazón del mensaje cristiano de esperanza y renovación.
            <br>
            <br>
            Jesús es adorado como la Luz del Mundo, guiando a sus seguidores con su ejemplo de amor, perdón y paz. Su influencia trasciende culturas y generaciones, inspirando a millones a vivir con fe y dedicación a los principios de amor y justicia que él encarnó. En cada época, Jesucristo sigue siendo un faro de esperanza y una fuente de transformación espiritual.
        </p>
    </div>

    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- JohnDoe js -->
    <script src="/js/johndoe.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
