<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Detail page for RodolfoSierra." />
    <meta name="author" content="Devcrud" />
    <title>RodolfoSierra Detail Page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css" />
    <!-- Bootstrap + JohnDoe main styles -->
    <link rel="stylesheet" href="/css/johndoe.css" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600">
        <i class="ti-shift-left-alt"></i> Components
    </a>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Rodolfo Sierra</h1>
                <h6 class="header-mono">Músico | Compositor</h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#bibliography" class="nav-link">Bibliografia</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="/img/avatar.jpg" alt="" class="brand-img" />
                    <li class="brand-txt">
                        <h5 class="brand-title">John Doe</h5>
                        <div class="brand-subtitle">Web Designer | Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/#videos" class="nav-link">Video Musical</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Iniciar Seción</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <h2 class="font-weight-bold">Jesucristo, el Buen Pastor y Fuente de Vida</h2>
        <img src="/img/god3.jpg" class="card-img-top img-fluid " alt="Image 1" style="width: 60%;">
        <p>Fecha de creación: 29/05/2024</p>
        <p class="lead">
            Jesucristo, conocido como el Buen Pastor y Fuente de Vida, es el núcleo de la fe cristiana y una figura de inmenso amor y compasión. Nacido en humildes condiciones en Belén, su vida y ministerio demostraron la proximidad de Dios a la humanidad y la profundidad del amor divino.
            <br>
            <br>
            Jesús se describió a sí mismo como el Buen Pastor, cuidando de su rebaño con dedicación y sacrificio. En sus parábolas, ilustró su papel como guía espiritual y protector, dispuesto a dar su vida por sus ovejas. Este amor pastoral se reflejó en sus actos de sanación, su acogida a los marginados y su constante búsqueda de aquellos que se habían perdido.
            <br>
            <br>
            Su ministerio estuvo marcado por poderosos milagros que revelaban su divinidad y compasión: alimentó a multitudes con unos pocos panes y peces, calmó tempestades, y devolvió la vida a los muertos. Estos actos no solo demostraban su poder, sino también su deseo de proveer y cuidar de cada persona, ofreciéndoles vida en abundancia.
            <br>
            <br>
            El sacrificio supremo de Jesús en la cruz es el punto culminante de su amor y misión. Al entregar su vida, Jesús abrió el camino a la reconciliación con Dios, ofreciendo perdón y salvación a todos los que creen en él. Su resurrección es la victoria definitiva sobre la muerte, garantizando la promesa de vida eterna.
            <br>
            <br>
            Jesús, como la Fuente de Vida, invita a todos a beber de las aguas vivas que él ofrece, encontrando en él renovación espiritual y propósito eterno. Su enseñanza de amarse unos a otros, perdonar sin límites y vivir en paz con todos sigue siendo una guía luminosa para la humanidad. Jesucristo es, en cada época y lugar, el Buen Pastor que cuida, guía y da vida a su rebaño con infinito amor y gracia.
        </p>
    </div>

    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- JohnDoe js -->
    <script src="/js/johndoe.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
