h1{
    color: red;
}
/* Estilos para los contenedores de los videos */
.about-card {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.about-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-card p {
    font-size: 16px;
}

.about-card iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.about-card button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    transition: background-color 0.3s;
}

.about-card button:hover {
    background-color: #c82333;
}
